<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.opencloudengine.bss.sample.dao.TenantMapper" >
  <select id="selectAll" resultType="org.opencloudengine.bss.sample.entity.Tenant">
  	select * from tenant
  </select>

  <select id="select" parameterType="map" resultType="org.opencloudengine.bss.sample.entity.Tenant">
  	select * from tenant
  	where id = #{id}
  </select>

    <insert id="insert"  parameterType="org.opencloudengine.bss.sample.entity.Tenant">
        INSERT INTO tenant(
            id, name, adminId
        ) VALUES(
            #{id}, #{name}, #{adminId}
        )
    </insert>

    <delete id="truncate" >
        truncate table tenant
    </delete>
</mapper>