<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <!--<context:annotation-config />-->
    <!--<aop:aspectj-autoproxy />-->
    <!--<mvc:annotation-driven/>-->

    <context:component-scan base-package="org.opencloudengine.service.web.controller" />

    <!--<bean id="mainService" class="org.opencloudengine.service.web.service.MainService">-->
    <!--</bean>-->
    <!--<bean id="mainController" class="org.opencloudengine.service.web.controller.MainController">-->
    <!--</bean>-->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.opencloudengine.service.web.db.dao" />
    </bean>

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sampleapp?useUnicode=true&amp;characterEncoding=UTF8&amp;useOldAliasMetadataBehavior=true" />
		<property name="username" value="root" />
		<property name="password" value="" />
        <property name="validationQuery" value="SELECT 1" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--<aop:config>-->
		<!--<aop:advisor advice-ref="transactionAdvice" pointcut="bean(*Service)"/>-->
	<!--</aop:config>-->

	<!--<tx:advice id="transactionAdvice" transaction-manager="transactionManager">-->
		<!--<tx:attributes>-->
			<!--<tx:method name="*" propagation="REQUIRED"/>-->
		<!--</tx:attributes>-->
	<!--</tx:advice>-->

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="WEB-INF/conf/mybatis-conf.xml"></property>
	</bean>

    <mvc:resources mapping="/js/**" location="/resources/js/" />
    <mvc:resources mapping="/css/**" location="/resources/css/" />

    <mvc:interceptors>
        <bean class="org.opencloudengine.service.web.controller.TenantInterceptor" />
    </mvc:interceptors>

    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/pages/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>



    <!--<jaxws:client id="tenantSpecificClient"-->
    <!--serviceClass="org.oce.garuda.multitenancy.TenantSpecific"-->
    <!--address="${service.domain}/services/TenantSpecific" />-->

    <!--<bean id="tenantSpecificUtil" class="org.oce.garuda.multitenancy.TenantSpecificUtil">-->
    <!--<property name="appKey" value="#{props['service.appId']}" />-->
    <!--<property name="tenantSpecific" ref="tenantSpecificClient" />-->
    <!--</bean>-->

    <bean id="jacksonObjectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
        <property name="indentOutput" value="true" />
    </bean>
	
</beans>
